# Dependencies
numpy
pandas

transformers[torch]
datasets[audio]
datasets[vision]
accelerate

torch
tensorflow

huggingface_hub[cli]

# Jupyter Notebook
notebook
ipykernel

# Lint tools
black[jupyter]
isort
mypy
pylint
pytest