# Dependencies
numpy
pandas

transformers[torch]
transformers[tf-cpu]
datasets
evaluate
accelerate

torch
tensorflow

huggingface_hub[cli]

# Jupyter Notebook
notebook
ipykernel

# Lint tools
black[jupyter]
isort
mypy
pylint
pytest